

.med_output, .short_output, .long_output  {
    font-size: 14px;
    height: 25px;
    border-radius: 5px;
    /*border: 1px solid #85929e;*/
    padding-left: 7px;
    padding-right: 7px;
}

.long_output {
    width: 550px;
}

.med_output {
    width: 170px;
}

.short_output {
    width: 70px;
}

.dropdowns, .short_input, .med_input, .long_input {
    font-size: 14px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #85929e;
    padding-left: 7px;
    padding-right: 7px;
}

.fillform:focus, .logindetails:focus {
    border: 2px solid #1176C6;
    background-color: white;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.ptdetails {
    width: 1000px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px; /*TOP RIGHT BOTTOM LEFT*/
    height: 150px;
    margin: 10px;

}

.viewtable {
    background-color: darkgray;
    border-radius: 10px;
    box-shadow: 0 0 0 0.2rem lightgray;
    border: none;
}

.viewtable th, td {
    /*padding: 3px 12px 3px 10px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.viewtable th {
    /*background-color: cornflowerblue;*/
    text-align: right;
    padding-left: 15px;
    padding-right: 5px;
}

.viewtable td {
    /*background-color: whitesmoke;*/
    padding-left: 7px;
    padding-right: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.backbtn {
    font-size: 30px;
    color: white;
    padding: 1px 20px;
    background-color: grey;
    border-radius: 5px;
    top: 90%;
    left: 22%;
    position: fixed;
    border: none;
}

.backbtn:hover {
    box-shadow: 0 0 0 0.2rem darkgray;
    transition-duration: 0.4s;
}

.backbtn:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.cancelbtn, .savebtn {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: none;
}

.filltheform {
    text-align: center;
    background-color: #c4c4c4;
    width: 1100px;
    border-radius: 10px;
    padding: 20px;
}

.filltheform input[type=text]:focus, input[type=date]:focus, input[type=time]:focus, input[type=number]:focus  {
    border: solid 3px dodgerblue;
    background-color: ghostwhite;
    box-shadow: 0 0 15px lightskyblue;
    -moz-box-shadow: 0 0 15px lightskyblue;
    -webkit-box-shadow: 0 0 15px lightskyblue;
    -o-box-shadow: 0 0 15px lightskyblue;
}

.dropdowns{
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #85929e;
    padding-left: 7px;
    padding-right: 7px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 244px;
}

.savebtn{
    font-size: 20px;
    color: white;
    background-color: #1176C6;
    padding: 10px 1%;
    border-radius: 5px;
    top: 90%;
    left: 50%;
    position: fixed;
}

.savebtn:active {
    border: solid 3px dodgerblue;
    box-shadow: 0 0 15px lightskyblue;
    -moz-box-shadow: 0 0 15px lightskyblue;
    -webkit-box-shadow: 0 0 15px lightskyblue;
    -o-box-shadow: 0 0 15px lightskyblue;
}

.cancelbtn {
    font-size: 20px;
    color: white;
    padding: 10px 1%;
    background-color: grey;
    border-radius: 5px;
    top: 90%;
    left: 56%;
    position: fixed;
}

#unit {
    text-align: center;
}
