/* The side navigation menu */

html {
  height: 100%;
  color: black;
  font-family: arial;
  font-size: 20px;
  /*background-color: cyan;*/
  background-color: #ededed;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: #ededed;
  margin-left: 19%;
  margin-top: 130px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  height: 100%;
}

/* Style the navigation bar */
.navbar {
width: 100%;
display: flex;
align-items:center;
background-color: #1176C6;
font-family: calibri;
font-size: 35px;
color: white;
position: fixed;
padding-left: 130px;
top: 0;
left: 0;
height: 70px;
}

.navbar img {
  width: 50px;
  height: 54px;
}

/*DROP DOWN FOR LOGIN/REGISTER */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* --- END OF DROP DOWN FOR LOGIN/REGISTER --- */



/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
.navbar a {
 float: none;
 display: block;
}
}

.navbar font {
    clear: both;
  }

.navbar img {
  margin-top: 7px;
  margin-bottom: auto;
  width: 50px;
  height: 54px;
}

.smallnav {
left: 19%;
width: 85%;
height: 60px;
vertical-align: middle;
margin-top: 70px;
padding-left: 40px;
color: #807c7c;
background-color: #EDEDED;
font-family: calibri;
font-size: 25px;
position: fixed;
top: 0;
box-shadow: 3px 3px 2px #c8c8c8;
display: flex;
align-items:center;
clear: both;
}

.tabletitle, .tabletitle td {
  text-align: left;
  border: none;
  border-collapse: collapse;
  width: 30%;
}


.alignRight {
    float: right;
    text-align: right;
}

.watermark {
  font-size: 12px;
  color: #918C8D;
  top: 95%;
  left: 9%;
  position: fixed;
}


#clock {
 text-align: right;
}

.sidebar {
width: 19%;
background-color: #222F3E;
position: fixed;
height: 100%;
overflow: auto;
left: 0;
top: 70px;
}

/* Sidebar links */
.sidebar a {
font-family: arial;
font-size: 13pt;
display: block;
color: #918C8D;
padding: 16px;
text-decoration: none;

}

.sides a {
    text-align: left;
    margin-left: 10px;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Active/current link */
.sidebar a.active {
    background-color: #576574;
    color: #C8D6E5;
}

/* Links on mouse-over */
.sidebar a:hover {
    background-color: #576574;
    color: #C8D6E5;
}

.icons {
   width: 30px;
   height: 30px;
}


.idlogo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.printicon {
  width: 35px;
  height: 35px;
  position: static;
  left: 640px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
color: #a3a3a3;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
.sidebar {
width: 100%;
height: auto;
position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.sidebar a {
text-align: center;
float: none;
}
}

.titlepage {
  color: #807c7c;
  font-size: 17pt;
}

/* ---------------- BUTTONS ----------------- */

.loginbtn {
  font-size: 19px;
  align-items: flex-end;
  padding: 8px 20px;
  color: white;
  background-color: #143c5d;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  top: 18%;
  right: 12%;
  z-index: -1;
  position: absolute;
}

.AddNewbtn {
    background-color: royalblue;
    color: whitesmoke;
}

.signin {
  font-size: 18px;
  width: 350px;
  align-items: flex-end;
  padding: 8px 25px;
  color: white;
  background-color: #1176C6;
  border-radius: 10px;
}

.bs-example{
    margin: 20px;
  }

.editbtn, .deletebtn, .AddNewbtn, .viewbtn {
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.viewbtn {
    background-color: limegreen;
}

.editbtn {
    background-color: yellow;
}

.deletebtn {
    background-color: indianred;
}

.editbtn:hover, .deletebtn:hover, .AddNewbtn:hover, .savebtn:hover, .cancelbtn:hover, .viewbtn:hover {
    box-shadow: 0 0 0 0.1rem darkgray;
    transition-duration: 0.2s;
}

.formbtn {
  font-size: 24px;
  margin: 8px;
  color: white;
  padding: 10px 10px;  /*top-bottom  right-left*/  /*top right bottom left*/
  background-color: royalblue;
  border-radius: 5px;
  width: 25%;
  right: 40%;
  word-break: break-word;
  border: none;
}


.formbtn:hover {
    /*margin-top: 25px;*/
    /*padding: 12px 30px 10px 30px;*/
    /*background-color: royalblue;*/
    /*color: white;*/
    /*border-radius: 40px;*/
    /*font-size: 15px;*/
    border: 1px solid royalblue;
    box-shadow: 0 0 0 0.2rem darkgray;
    transition-duration: 0.4s;
}

.formbtn:active, .editbtn:active, .deletebtn:active, .savebtn:active, .cancelbtn:active, .AddNewbtn:active, .viewbtn:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.viewdetailsbtn {
  font-size: 14px;
  background-color: #438eca;
  color: white;
  padding: 3px 20px;
  border-radius: 5px;
}

.viewdetailsbtn:hover {
  color: black;
}

table {
  align-items: center;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-collapse: collapse;
  padding: 10px 15px;
  color: black;
}

.tableDetail th {
    background-color:darkgray;
    border: 3px solid black;
}

.tableDetail {
    padding: 2px 7px 2px 7px;
    border: 2px solid black;
    align-content: center;
    width: 95%;
    -moz-box-shadow:    2px 2px 3px 4px #ccc;
    -webkit-box-shadow: 2px 2px 3px 4px #ccc;
    box-shadow:         2px 2px 3px 3px #ccc;
}

#dataTable tr {
    border: 2px solid black;
}
#dataTable th {
  border: 1px solid black;
  background-color: #438eca;
  font-size: 17px;
  padding: 2px 5px 2px 5px;
}

/*col {*/

/*}*/

.tableDetail td {
  height: 15px;
  font-size: 15px;
  padding: 8px 29px;
  text-align: center;
  border-left: 1px solid black;
}

.tableDetail tr:nth-child(even) {
  background-color: lightskyblue;
}



.username {
    color: #C8D6E5;
}
